.container {
    margin: 0.3rem 0;
}

.label {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.sublabel {
    color: #666;
    font-weight: 400;
}

.address {
    margin-top: 0;
    margin-bottom: 1rem;
}

.button {
    margin: 0.1rem;
}
